.wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding-right: var(--space-12);
}

.input[aria-invalid="true"] {
  padding-right: calc(var(--space-12) - 1px);
}

.toggle {
  position: absolute;
  right: 0;
  color: var(--color-text-muted);
}
